body {
    width: 40%;
    max-width: 1440px;
    margin: 2em auto;
    background-color: #f6f7f9;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}