body {
	width: 40%;
	max-width: 1440px;
	margin: 2em auto;
	background-color: #f6f7f9;
}

* {
    box-sizing: border-box;
}

/*--------------------------------------------------------- 
LAYOUT
---------------------------------------------------------*/
.row {display: flex;}
.row--space-between {justify-content: space-between;}
.row--align-center {align-items: center;}

/*--------------------------------------------------------- 
DROP-DOWN COMPONENT
---------------------------------------------------------*/
.drop-down {
	--drop-down-bg: hsl(0, 0%, 100%);
	--drop-down-border-color: hsla(249, 14%, 90%, 0.65);
	--drop-down-border-radius: 3px;
	--drop-down-text-color: hsl(240, 100%, 0%);
	--drop-down-transition-duration: 0.3s;

	font-family: Arial, Helvetica, sans-serif;
    border: 1.35px solid var(--drop-down-border-color);
	box-sizing: border-box;
	background-color: var(--drop-down-bg);
	border-radius: var(--drop-down-border-radius);
    width: 100%;
    max-width: 250px;
	position: relative;
	cursor: pointer;
	transition: border-color var(--drop-down-transition-duration), box-shadow var(--drop-down-transition-duration) ease-in;
	outline: none;
}

.drop-down__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding: 0.8em 0.85em;
    position: relative;
    z-index: 10;
}

.drop-down__category-title {
    color: var(--drop-down-text-color);
    opacity: 0.5;
	font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

.drop-down__icon {
	--icon-stroke-color: hsl(212, 8%, 61%);
	fill: var(--icon-stroke-color);
    stroke-width: 4;
    stroke-linejoin: initial;
    stroke-linecap: square;
    height: 24px;
	width: 21px;
	transition: transform var(--drop-down-transition-duration)
		cubic-bezier(0.45, 0.46, 0.1, 1.01);
}

/*--------------------------------------------------------- 
DROP-DOWN SEARCH
---------------------------------------------------------*/
.drop-down__search {
    border-bottom: 1px solid #e2e6e9;
    transition: box-shadow var(--drop-down-transition-duration) ease-in;
}

.drop-down__search .container {
    border-radius:  var(--drop-down-border-radius);
    padding: 0.8em 0.85em;
    background-color: #e0e6ed;
    margin: 1em 0.85em;
}

.drop-down__input {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: hsl(240, 100%, 0%);
    width: 10rem;
    outline: none;
}

.drop-down__input::placeholder {
    font-size: 1rem;
    opacity: 0.5;
    font-weight: 500;
}

.drop-down__icon-search {
    fill: #c5cad1;
    width: 24px;
    height: 24px;
}

/*--------------------------------------------------------- 
DROP-DOWN LIST
---------------------------------------------------------*/
.drop-down__categories {
	visibility: hidden;
	position: absolute;
    left: 0;
    z-index: -1;
	background-color: var(--drop-down-bg);
    width: 100%;
    box-shadow: 0px 2px 4px 0px hsla(0, 0%, 33%, 0.1);
}

.drop-down__category {
    --drop-down-category-color: hsl(240, 100%, 0%);
    margin: 0;
    color: var(--drop-down-category-color);
    font-weight: 600;
	padding: 1.5em 1.5em;
	text-align: left;
	font-size: 1rem;
	transition: background-color var(--drop-down-transition-duration),
        text-shadow var(--drop-down-transition-duration) ease-in;
    
    
}

.drop-down__category--selected {
    --drop-down-category-color: #597ef1;
    
    display: flex;
    align-items: center;
}

/*--------------------------------------------------------- 
JAVASCRIPT ACTIVATED
---------------------------------------------------------*/
.drop-down__categories--open {
	visibility: visible;
	animation: drop-down-appear 0.5s forwards;
}

.drop-down__category--selected::after {
    content: url(./images/check.svg);
    margin-left: auto;
}

.drop-down__category--icon::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #949da3;
    margin-right: 0.75em;
}

.drop-down__icon--open {
	transform: rotate(180deg);
}

/*--------------------------------------------------------- 
ANIMATIONS
---------------------------------------------------------*/
.drop-down:hover {
	--drop-down-border-color: hsl(240, 5%, 85%);
}
.drop-down:focus {
    --drop-down-border-color: hsl(212, 98%, 63%);
    box-shadow: 0px 0px 0px 1px var(--drop-down-border-color);
}
.drop-down__category:hover {
	background-color: hsl(200, 33%, 98%);
}

@keyframes drop-down-appear {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.3;
		transform: translateY(-6px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
